.carouselContainer {
    z-index: 1;
}

.introduction {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1.5fr 1fr;
}

.introductionImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.introductionImage {
    height: 9rem;
    width: 9rem;
}

.introductionTextContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.introductionText {
    text-align: center;
    margin-bottom: 0.5rem;
}